<a href="https://colab.research.google.com/github/Brunogodoy2911/Data-Analytics---Pandas/blob/main/apply_map.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [19]:
import pandas as pd
import numpy as np

In [30]:
dados = {
    "Nome" : ["João", "Maria", "Pedro", "Ana"],
    "Idade" : [25, 30, 35, 40],
    "Status" : ["Ativo", "Inativo", "Ativo", "Inativo"]
}

df = pd.DataFrame(dados)
print(df)

    Nome  Idade   Status
0   João     25    Ativo
1  Maria     30  Inativo
2  Pedro     35    Ativo
3    Ana     40  Inativo

In [31]:
# Apply()
def categoria_idade(idade):
  if idade < 30:
    return "Jovem"
  else:
    return "Adulto"

df["Categoria_Idade"] = df["Idade"].apply(categoria_idade)

In [32]:
print(df)

    Nome  Idade   Status Categoria_Idade
0   João     25    Ativo           Jovem
1  Maria     30  Inativo          Adulto
2  Pedro     35    Ativo          Adulto
3    Ana     40  Inativo          Adulto

In [34]:
# Map
mapeamento_status = {"Ativo" : "ativo", "Inativo" : "inativo"}
df["Status_Formatado"] = df["Status"].map(mapeamento_status)
print(df)

    Nome  Idade   Status Categoria_Idade Status_Formatado
0   João     25    Ativo           Jovem            ativo
1  Maria     30  Inativo          Adulto          inativo
2  Pedro     35    Ativo          Adulto            ativo
3    Ana     40  Inativo          Adulto          inativo

In [35]:
# Apply
df["Idade_Dobrada"] = df["Idade"].apply(lambda x : x * 2)
print(df)

    Nome  Idade   Status Categoria_Idade Status_Formatado  Idade_Dobrada
0   João     25    Ativo           Jovem            ativo             50
1  Maria     30  Inativo          Adulto          inativo             60
2  Pedro     35    Ativo          Adulto            ativo             70
3    Ana     40  Inativo          Adulto          inativo             80