<a href="https://colab.research.google.com/github/Brunogodoy2911/Data-Analytics---Pandas/blob/main/astype_isna_filna_dropna.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [19]:
import pandas as pd
import numpy as np

In [10]:
dados = {
    "Numero_String" : ["1", "2", "3", "4"],
    "Preco_Float" : [1.1, 2.2, 3.3, 4.4],
}

df = pd.DataFrame(dados)

In [11]:
print(df)

  Numero_String  Preco_Float
0             1          1.1
1             2          2.2
2             3          3.3
3             4          4.4

In [12]:
# Converter Numero_String para int
df["Numero_String"] = df["Numero_String"].astype(int)

In [13]:
print(df)

   Numero_String  Preco_Float
0              1          1.1
1              2          2.2
2              3          3.3
3              4          4.4

In [15]:
# Converter Preco_Float para int
df["Preco_Float"] = df["Preco_Float"].astype(int)

In [16]:
print(df.info())
print(df)

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4 entries, 0 to 3
Data columns (total 2 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   Numero_String  4 non-null      int64
 1   Preco_Float    4 non-null      int64
dtypes: int64(2)
memory usage: 196.0 bytes
None
   Numero_String  Preco_Float
0              1            1
1              2            2
2              3            3
3              4            4

In [20]:
# Valores ausentes
df2 = pd.DataFrame({
    "A" : [1, 2, np.nan],
    "B" : [5, np.nan, np.nan],
    "C" : [7, 8, 9]
})

In [21]:
print(df2)

     A    B  C
0  1.0  5.0  7
1  2.0  NaN  8
2  NaN  NaN  9

In [22]:
#isna()
print(df2.isna())

       A      B      C
0  False  False  False
1  False   True  False
2   True   True  False

In [23]:
#fillna - Preencher com 0 ontem valores nulos
df_nulos = df2.fillna({"A" : 0})
print(df_nulos)

     A    B  C
0  1.0  5.0  7
1  2.0  NaN  8
2  0.0  NaN  9

In [26]:
#fillna - Preencher com uma m√©dia de valores
df_media = df2.fillna(df2.mean())
print(df_media)

     A    B  C
0  1.0  5.0  7
1  2.0  5.0  8
2  1.5  5.0  9

In [28]:
# Remover as linhas com valores ausente
df_drop_linhas = df2.dropna()
print(df_drop_linhas)

     A    B  C
0  1.0  5.0  7

In [29]:
df_drop_cols = df2.dropna(axis=1)
print(df_drop_cols)

   C
0  7
1  8
2  9