<a href="https://colab.research.google.com/github/Brunogodoy2911/Data-Analytics---Pandas/blob/main/dataframes_pandas.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import pandas as pd

In [2]:
# Criando nosso primeiro DataFrame a partir de um dicionário
dados = {
    "Nome" : ["Alice", "Eduardo", "Carlos", "Davi"],
    "Idade" : [25, 30, 19, 27],
    "Cidade" : ["São Paulo", "Rio de Janeiro", "Belo Horizonte", "Curitiba"]
}

print(dados)

{'Nome': ['Alice', 'Eduardo', 'Carlos', 'Davi'], 'Idade': [25, 30, 19, 27], 'Cidade': ['São Paulo', 'Rio de Janeiro', 'Belo Horizonte', 'Curitiba']}

In [3]:
df = pd.DataFrame(dados)
print(df)

      Nome  Idade          Cidade
0    Alice     25       São Paulo
1  Eduardo     30  Rio de Janeiro
2   Carlos     19  Belo Horizonte
3     Davi     27        Curitiba

In [4]:
# Acessando uma coluna especifica do DF
print(df.Nome)

0      Alice
1    Eduardo
2     Carlos
3       Davi
Name: Nome, dtype: object

In [5]:
print(df["Cidade"])

0         São Paulo
1    Rio de Janeiro
2    Belo Horizonte
3          Curitiba
Name: Cidade, dtype: object

In [6]:
# Criar um DF a partir de uma lista de dicionarios
lista_dict = [
    {"Nome" : "Alice", "Idade" : 25, "Cidade" : "São Paulo"},
    {"Nome" : "Eduardo", "Idade" : 30, "Cidade" : "Rio de Janeiro"},
    {"Nome" : "Carlos", "Idade" : 19, "Cidade" : "Belo Horizonte"},
]

df2 = pd.DataFrame(lista_dict)

In [7]:
print(df2)

      Nome  Idade          Cidade
0    Alice     25       São Paulo
1  Eduardo     30  Rio de Janeiro
2   Carlos     19  Belo Horizonte

In [8]:
print(df2.Nome)

0      Alice
1    Eduardo
2     Carlos
Name: Nome, dtype: object