<a href="https://colab.research.google.com/github/Brunogodoy2911/Data-Analytics---Pandas/blob/main/filter_pandas.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import pandas as pd

In [12]:
# Criar DF
dados = {
    "Nome" : ["João", "Maria", "José", "Ana"],
    "Idade" : [25, 30, 35, 40],
    "Cidade" : ["São Paulo", "São Paulo", "Belo Horizonte", "Porto Alegre"],
    "Pontuação": [85, 90, 95, 100]
}

df = pd.DataFrame(dados)

In [13]:
print(df)

    Nome  Idade          Cidade  Pontuação
0   João     25       São Paulo         85
1  Maria     30       São Paulo         90
2   José     35  Belo Horizonte         95
3    Ana     40    Porto Alegre        100

In [4]:
# Filtrar pessoas com idade maior que 30
filtro_idade = df[df["Idade"] > 30]

In [11]:
print(filtro_idade)

   Nome  Idade          Cidade  Pontuação
2  José     35  Belo Horizonte         95
3   Ana     40    Porto Alegre        100

In [14]:
# Cidade São Paulo e pontuação > 80
filtro_cid_pont = df[(df["Cidade"] == "São Paulo") & (df["Pontuação"] > 80)]

In [15]:
print(filtro_cid_pont)

    Nome  Idade     Cidade  Pontuação
0   João     25  São Paulo         85
1  Maria     30  São Paulo         90

In [18]:
# Cidade Fortleza ou Campina Grande
filtro_cidade = df[(df["Cidade"] == "Fortaleza") | (df["Cidade"] == "Campina Grande")]
print(filtro_cidade)

Empty DataFrame
Columns: [Nome, Idade, Cidade, Pontuação]
Index: []

In [20]:
# Comando isin()
filtro_isin = df[df["Cidade"].isin(["Goiania", "Campinas", "São Paulo"])]
print(filtro_isin)

    Nome  Idade     Cidade  Pontuação
0   João     25  São Paulo         85
1  Maria     30  São Paulo         90