<a href="https://colab.research.google.com/github/Brunogodoy2911/Data-Analytics---Pandas/blob/main/funcoes_agregacao_pandas.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [2]:
import pandas as pd

In [7]:
import pandas as pd
df = pd.DataFrame({
'Cidade': ['São Paulo', 'Rio de Janeiro', 'São Paulo', 'Belo Horizonte',
'Rio de Janeiro', 'São Paulo'],
'Vendas': [100, 150, 120, 80, 200, 90],
'Produto': ['A', 'B', 'A', 'C', 'B', 'A']
})
print('--- DataFrame Original ---\n', df)

--- DataFrame Original ---
            Cidade  Vendas Produto
0       São Paulo     100       A
1  Rio de Janeiro     150       B
2       São Paulo     120       A
3  Belo Horizonte      80       C
4  Rio de Janeiro     200       B
5       São Paulo      90       A

In [8]:
# Agrupar por 'Cidade' e calcular a soma das 'Vendas'
vendas_por_cidade = df.groupby('Cidade')['Vendas'].sum()
print('\n--- Vendas por Cidade (sum) ---\n', vendas_por_cidade)

--- Vendas por Cidade (sum) ---
 Cidade
Belo Horizonte     80
Rio de Janeiro    350
São Paulo         310
Name: Vendas, dtype: int64

In [10]:
# Agrupar por 'Cidade' e 'Produto' e calcular a média das 'Vendas'
media_vendas_por_cidade_produto = df.groupby(['Cidade', 'Produto'])['Vendas'].mean()
print('
--- Média de Vendas por Cidade e Produto (mean) ---
',
media_vendas_por_cidade_produto)

--- Média de Vendas por Cidade e Produto (mean) ---
 Cidade          Produto
Belo Horizonte  C           80.000000
Rio de Janeiro  B          175.000000
São Paulo       A          103.333333
Name: Vendas, dtype: float64