<a href="https://colab.research.google.com/github/Brunogodoy2911/Data-Analytics---Pandas/blob/main/head_tail_shape_info_describe.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import pandas as pd

In [3]:
# Criando um DF
dados = {
    "Nome" : ["João", "Maria", "José", "Ana"],
    "Idade" : [25, 30, 35, 40],
    "Cidade" : ["São Paulo", "Rio de Janeiro", "Belo Horizonte", "Porto Alegre"],
    "Salário" : [5000, 6000, 7000, 8000]
}

In [4]:
print(dados)

{'Nome': ['João', 'Maria', 'José', 'Ana'], 'Idade': [25, 30, 35, 40], 'Cidade': ['São Paulo', 'Rio de Janeiro', 'Belo Horizonte', 'Porto Alegre'], 'Salário': [5000, 6000, 7000, 8000]}

In [6]:
df = pd.DataFrame(dados)
print(df)

    Nome  Idade          Cidade  Salário
0   João     25       São Paulo     5000
1  Maria     30  Rio de Janeiro     6000
2   José     35  Belo Horizonte     7000
3    Ana     40    Porto Alegre     8000

In [8]:
# head(n) - Retornar as primeiras n linhas do Df (EM BRANCO - padrão 5 primeiras)
print(df.head(9))

    Nome  Idade          Cidade  Salário
0   João     25       São Paulo     5000
1  Maria     30  Rio de Janeiro     6000
2   José     35  Belo Horizonte     7000
3    Ana     40    Porto Alegre     8000

In [10]:
# tail(n) - Retorna as últimas n linhas do DF
print(df.tail(2))

   Nome  Idade          Cidade  Salário
2  José     35  Belo Horizonte     7000
3   Ana     40    Porto Alegre     8000

In [11]:
# shape - Retorna quantidade de linhas e colunas
df.shape

(4, 4)

In [12]:
# info - Fornce um resumo do DF
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4 entries, 0 to 3
Data columns (total 4 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   Nome     4 non-null      object
 1   Idade    4 non-null      int64
 2   Cidade   4 non-null      object
 3   Salário  4 non-null      int64
dtypes: int64(2), object(2)
memory usage: 260.0+ bytes

In [13]:
# describe() - Retorna estatísticas sobre o DF
print(df.describe())

           Idade      Salário
count   4.000000     4.000000
mean   32.500000  6500.000000
std     6.454972  1290.994449
min    25.000000  5000.000000
25%    28.750000  5750.000000
50%    32.500000  6500.000000
75%    36.250000  7250.000000
max    40.000000  8000.000000