<a href="https://colab.research.google.com/github/Brunogodoy2911/Data-Analytics---Pandas/blob/main/loc_iloc_pandas.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [14]:
import pandas as pd

In [15]:
# Criar o DF
dados = {
    "Produto" : ["A", "B", "C", "D", "E"],
    "Preco" : [10, 20, 30, 40, 50],
    "Estoque" : [100, 50, 75, 20, 30]
}

index = ["item1", "item2", "item3", "item4", "item5"]

df = pd.DataFrame(dados, index)

In [16]:
print(df)

      Produto  Preco  Estoque
item1       A     10      100
item2       B     20       50
item3       C     30       75
item4       D     40       20
item5       E     50       30

In [21]:
# Visualizar colunas específicas
df.Produto
df["Estoque"]

item1    100
item2     50
item3     75
item4     20
item5     30
Name: Estoque, dtype: int64

In [22]:
# Selecionar múltiplas colunas
print(df[["Produto", "Estoque"]])

      Produto  Estoque
item1       A      100
item2       B       50
item3       C       75
item4       D       20
item5       E       30

In [23]:
# Comando loc - Seleção do item3
print(df.loc["item3"])

Produto     C
Preco      30
Estoque    75
Name: item3, dtype: object

In [24]:
# Comando loc para multiplas colunas
print(df.loc[["item1", "item5"], ["Preco", "Estoque"]])

       Preco  Estoque
item1     10      100
item5     50       30

In [25]:
# Comando iloc para buscar o item3

print(df.iloc[2])

Produto     C
Preco      30
Estoque    75
Name: item3, dtype: object

In [26]:
# Comando iloc para linhas e colunas
print(df.iloc[0:2, 1:3])

       Preco  Estoque
item1     10      100
item2     20       50