<a href="https://colab.research.google.com/github/Brunogodoy2911/Data-Analytics---Pandas/blob/main/read_save_pandas.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import pandas as pd

In [2]:
# Leitura de arquivos csv
url = "https://raw.githubusercontent.com/plotly/datasets/master/gapminderDataFiveYear.csv"

df = pd.read_csv(url)
print(df)

          country  year         pop continent  lifeExp   gdpPercap
0     Afghanistan  1952   8425333.0      Asia   28.801  779.445314
1     Afghanistan  1957   9240934.0      Asia   30.332  820.853030
2     Afghanistan  1962  10267083.0      Asia   31.997  853.100710
3     Afghanistan  1967  11537966.0      Asia   34.020  836.197138
4     Afghanistan  1972  13079460.0      Asia   36.088  739.981106
...           ...   ...         ...       ...      ...         ...
1699     Zimbabwe  1987   9216418.0    Africa   62.351  706.157306
1700     Zimbabwe  1992  10704340.0    Africa   60.377  693.420786
1701     Zimbabwe  1997  11404948.0    Africa   46.809  792.449960
1702     Zimbabwe  2002  11926563.0    Africa   39.989  672.038623
1703     Zimbabwe  2007  12311143.0    Africa   43.487  469.709298

[1704 rows x 6 columns]

In [5]:
# Salvar no formato csv
df3 = pd.DataFrame({
    "Fruta" : ["Maçã", "Banana", "Laranja"],
    "Quantidade" : [10, 20, 15]
})

df3.to_csv("frutas.csv", index=False)

In [6]:
df4 = pd.read_csv("frutas.csv")
print(df4)

     Fruta  Quantidade
0     Maçã          10
1   Banana          20
2  Laranja          15

In [8]:
# Salvando arquivos xlsx
df5 = pd.DataFrame({
    "País" : ["Brasil", "Argentina", "Chile"],
    "População" : [200, 300, 400]
})

print(df5)

        País  População
0     Brasil        200
1  Argentina        300
2      Chile        400

In [9]:
df5.to_excel("paises.xlsx", index=False)

In [10]:
df6 = pd.read_excel("paises.xlsx")
print(df6)

        País  População
0     Brasil        200
1  Argentina        300
2      Chile        400